anyconfig==0.6.0
args==0.1.0
arrow==0.7.0
attrs==16.0.0
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
blessings==1.6
boto==2.40.0
cached-property==1.3.0
cffi==1.7.0
circus==0.13.0
click==6.6
clint==0.5.1
colour==0.1.2
cryptography==1.4
cssselect==0.9.2
decorator==4.0.10
elasticsearch==2.3.0
Flask==0.11.1
Flask-Cache==0.13.1
ftfy==4.1.1
geopy==1.11.0
idna==2.1
ijson==2.3
inflect==0.2.5
iowait==0.2
ipython==4.2.0
ipython-genutils==0.1.0
iso3166==0.7
itsdangerous==0.24
jellyfish==0.5.1
Jinja2==2.8
jsonstream==1.0.0
langcodes==1.2.0
lxml==3.6.0
MarkupSafe==0.23
marshmallow==2.7.3
msgpack-python==0.4.7
networkx==1.11
nltk==3.2.1
numpy==1.11.0
-e git+https://github.com/davidmcclure/open-syllabus-project.git@0c628530cd778851bea4bb7b674802ed3ad7f416#egg=osp
parsel==1.0.2
pdfminer3k==1.3.0
peewee==2.8.1
pexpect==4.1.0
pgmagick==0.6.2
pickleshare==0.7.2
Pillow==3.2.0
ply==3.8
prettytable==0.7.2
psutil==4.2.0
psycopg2==2.6.1
ptyprocess==0.5.1
py==1.4.31
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
PyDispatcher==2.0.5
-e git+https://github.com/davidmcclure/pymarc.git@5a923bf877af0f28be8e867535d082e526bf1f36#egg=pymarc
pyOpenSSL==16.0.0
PyPDF2==1.26.0
pytest==2.9.2
python-dateutil==2.5.3
python-docx==0.8.5
python-magic==0.4.11
PyYAML==3.11
pyzmq==15.2.0
queuelib==1.4.2
redis==2.10.5
regex==2016.6.5
reportlab==3.3.0
requests==2.10.0
requests-file==1.4
rq==0.6.0
rq-dashboard==0.3.4
scandir==1.2
scipy==0.17.1
Scrapy==1.1.0
service-identity==16.0.0
simplegeneric==0.8.1
simplejson==3.8.2
six==1.10.0
times==0.7
titlecase==0.8.1
tldextract==2.0.1
tornado==4.3
traitlets==4.2.1
Twisted==16.2.0
urllib3==1.15.1
us==0.9.1
uWSGI==2.0.13.1
w3lib==1.14.2
webargs==1.3.3
Werkzeug==0.11.10
wordfreq==1.4
zope.interface==4.2.0
