import scrapy

from osp_scraper.spiders.CustomSpider import CustomSpider


class $classname(CustomSpider):
    name = "$name"

    start_urls = ["$domain"]

    def parse(self, response):
        pass
